<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <UseAppHost>false</UseAppHost>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <PublishDir>bin\Release\net8.0\Plesk-DLL\</PublishDir>
  </PropertyGroup>
</Project>
